.bookCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

body.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
body.ng-enter.ng-enter-active {
  opacity:1;
}

#cardCss {
  border: 3px solid black;
  border-radius: 15px;
  border-style: groove;
  background: maroon;
  color: #fdd835;
}

#input:focus,
#input1:focus,
#input2:focus,
#input3:focus,
#input4:focus,
#input5:focus {
  border-bottom: 1px solid #353B40;
  box-shadow: 0 1px 0 0 #353B40;
  color: white;
}

#input,
#input1,
#input2,
#input3,
#input4,
#input5 {
  border-bottom: 1px solid gray;
  box-shadow: 0 1px 0 0 gray;
  color: gray;
}

body {
  background-color: grey;
}

h1 {
  text-align: center;
}

/*@keyframes animatedBackground {
  from {background-position: 0 0; }
  to { background-position: 100% 0; }
}

#animate-area {
  width: 500px;
  height: 400px;
  background-image: url(bg-clouds.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite
}*/
